#!/bin/bash

export JAVA_HOME={{ java_home }}
export HADOOP_PREFIX={{ hadoop_prefix }}
export HADOOP_CONF_DIR={{ hadoop_conf_dir }}
export HADOOP_LOG_DIR={{ hadoop_HADOOP_LOG_DIR }}
export HADOOP_PID_DIR={{ hadoop_HADOOP_PID_DIR }}
export PATH={{ hadoop_prefix }}/bin:{{ hadoop_prefix }}/sbin:{{ java_home }}/bin:$PATH

