<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<!-- Put site-specific property overrides in this file. -->

<configuration>
  <property>
	<!-- White, HTDG 4th pg. 688 -->
	<name>mapreduce.framework.name</name>
	<value>yarn</value>
  </property>

<!-- updated mapred-site-1.2.1.xml items below-->
<!--
  <property>
    <name>mapred.job.tracker</name>
    <value>{{ hadoop_name_node }}:8021</value>
  </property>
-->

<!-- name change -->
  <property>
    <name>mapred.cluster.local.dir</name>
    <value>{{ mapreduce_cluster_local_dir_list }}</value>
  </property>

<!-- name change -->
  <property>
    <name>mapred.jobtracker.system.dir</name>
    <value>{{ mapreduce_jobtracker_system_dir }}</value>
  </property>

<!-- name change and disappeared from mapred-default.xlm in 2.8.0
  <property>
    <name>mapreduce.tasktracker.map.tasks.maximum</name>
    <value>4</value>
  </property>
-->

<!-- name change and disappeared from mapred-default.xlm in 2.8.0
  <property>
    <name>mapreduce.tasktracker.reduce.tasks.maximum</name>
    <value>4</value>
  </property>
-->

<!--  
HTDG 4th pg. 302, The JVM options used to launch the container process that runs map and reduct tasks.
In addition to memory settings, this property can include JVM properties for debugging, for example.
-->
  <property>
    <name>mapred.child.java.opts</name>
    <value>-Xmx1536m</value>
  </property>

<!-- added -->
<!-- 
HTDG 4th pg 302, The JVM options used for the child process that runs map tasks 
See also: https://hadoop.apache.org/docs/r2.7.4/hadoop-project-dist/hadoop-common/ClusterSetup.html 
  (Larger heap-size for child jvms of maps.)

should be lower than mapreduce.map.memory.mb 
-->
  <property>
    <name>mapreduce.map.java.opts</name>
    <value>-Xmx2048m</value>
  </property>

<!-- added -->
<!-- 
HTDG 4th pg 302, The JVM options used for the child process that runs reduce tasks 
See also: https://hadoop.apache.org/docs/r2.7.4/hadoop-project-dist/hadoop-common/ClusterSetup.html
  Larger heap-size for child jvms of reduces.

should be lower than mapred.reduce.memory.mb
-->
  <property>
    <name>mapreduce.reduce.java.opts</name>
    <value>-Xmx2048m</value>
  </property>

<!-- added
HTDG pg.302, The amount of memory for map containers.
-->
  <property>
    <name>mapreduce.map.memory.mb</name>
    <value>2560</value>
  </property>


<!-- added 
HTDG pg. 302, The amount of memory for reduce containers.
-->
 <property>
    <name>mapreduce.reduce.memory.mb</name>
    <value>2560</value>
  </property>

</configuration>

