<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<!-- Put site-specific property overrides in this file. -->

<configuration>

<!-- initial values based on White's HTDG pg. 297 -->
  <property>
	<name>yarn.resourcemanager.hostname</name>
	<value>{{ hadoop_resourcemanager_node }}</value>
  </property>

  <property>
	<name>yarn.nodemanager.local-dirs</name>
	<value>{{ yarn_nodemanager_local_dirs_list }}</value>
  </property>

  <property>
	<name>yarn.nodemanager.aux-services</name>
	<value>mapreduce_shuffle</value>
  </property>

  <property>
	<name>yarn.nodemanager.resource.memory-mb</name>
	<value>4096</value>
  </property>

<!-- 
The follow two items are listed as important by White.
They are currently set to their default values.
-->
  <property>
	<name>yarn.nodemanager.vmem-pmem-ratio</name>
	<value>2.1</value>
  </property>

  <property>
	<name>yarn.nodemanager.resource.cpu-vcores</name>
	<value>8</value>
  </property>

</configuration>
